/**
 * @file
 * Style rules to arrange some elbow room for the WYSIWYG in a node edit form.
 */

.elbow-room-link-wrapper {
  text-align: right;
  margin-bottom: 5px;
}

.elbow-room .layout-region-node-main,
.elbow-room .layout-region--node-main {
  width: 100%;
  grid-column: 1/3;
  padding-right: 0;
}
.elbow-room .layout-region--node-main > .layout-region__content {
  max-width: none;
}

.elbow-room .layout-region-node-secondary,
.elbow-room .layout-region--node-secondary {
  display: none;
}
